.header {
    background-color: black;
    color: white;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;

    &__logo {
        position: absolute;
        top: 25%;
        left: 1rem;
        font-size: 2rem;
        cursor: pointer;
    }

    &__title {
        width: 100%;
    }

    &__menu {
        position: absolute;
        right: 1rem;
        display: flex;
        flex-direction: row;
        gap: 1rem;
        font-size: 2.5rem;
        span {
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
            &.active {
                text-decoration: underline;
            }
        }

        @media (max-width: 999px) {
            display: none;
        }
    }

    &__icon {
        position: absolute;
        top: 25%;
        right: 1rem;
        font-size: 2rem;
        cursor: pointer;

        @media (min-width: 1000px) {
            display: none;
        }
    }

    &__mobile {
        &-button {
            font-family: "Qwigley";
            font-size: 2rem;
        }
    }
}
