.meals {
    &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0.5rem;
        justify-content: center;
        &-item {
            display: flex;

            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 30%;

            img {
                width: 85%;
                height: 85%;
            }
            span {
                font-family: "Qwigley";
                font-size: 2rem;
                font-weight: bold;
            }

            &:hover {
                cursor: pointer;
                background-color: rgb(228, 228, 227);
                transform: translateY(-3px);
                box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
            }

            @media (max-width: 500px) {
                width: 48%;
            }
        }
    }
}
